<!-- Nazarii Goncharuk -->

body {
    background-color: black;
}

h1 {
  color: white;
}

ul {
    color: white;
}

li {
    color: white;
}

h3 {
    color: white;
}

p {
  color: white;
}
body {
    background-color: black;
}

h1 {
  color: white;
}

ul {
    color: white;
}

li {
	color: white;
}

h3 {
	color: white;
}

p {
	color: white;
}

caption {
	color: white;
}

table {
	border:1px solid;
	color: white;
	border-collapse:collapse;
	padding:5px;
		}
table th {
	border:1px solid;
        text-align:left;
	padding:5px;
	background: gray;
	color: white;
		}
table td {
	border:1px solid;
	text-align:center;
	padding:5px;
	background: lightgray;
	color: white;
}
table thead {
	border:1px solid;
        text-align:left;
	padding:5px;
	background: gray;
	color: white;
		}
table tdata {
	border:1px solid;
	text-align:center;
	padding:5px;
	background: lightgray;
	color: white;
}
