body {
    background-color: blue;
}

h1 {
  color: white;
}

ul {
    color: white;
}

li {
    color: white;
}

h3 {
    color: white;
}

p {
  color: white;
}

table {
	border:1px solid;
	border-color: white;
	border-collapse:collapse;
}

table td {
	border:1px solid;
	border-color: white;
	text-align:center;
	padding:5px;
}
